
@media ( max-width: 800px ) {
    header,
    .new-header {
        padding: 20px 50px;
    }

    .menu {
        position: fixed;
        top: 68px;
        left: -100%;
        display: block;
        padding: 100px 50px;
        text-align: center;
        width: 100%;
        height: 100vh;
        background: #fff;
        transition: 0.5s;
        z-index: 9;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
    }

    .menu.active {
        left: 0;
    }

    header ul li a {
        color: #111;
        font-size: 24px;
        margin-bottom: 30px;
    }

    header ul li a:hover {
        color: red;
    }

    .toogle {
        width: 30px;
        height: 30px;
        background: url(./images/menu.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 30px;
        cursor: pointer;
    }

    .toogle.active {
        background: url(./images/close.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 30px;
        cursor: pointer;
    }

    .new-header .toogle {
        filter: invert(1)
    }

    section {
        padding: 100px 50px;
    }

    .banner {
        padding: 150px 50px 100px;
    }

    .banner h2 {
        font-size: 1.5em;
        margin-left: 40px;
    }

    .banner h2 span {
        font-size: 1.8em;
    }

    .banner h3 {
        margin-left: 40px;
    }

    .heading h2 {
        font-size: 24px;
    }

    .content {
        flex-direction: column;
    }

    .contentBx h3 {
        font-size: 20px;
        top: -40px;
    }

    .contentBx p {
        margin-bottom: 15px;
    }

    .img-about img{
        width: 100%;
    }

    .services .content,
    .projects .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70%;
    }

    .services .content .servicesBx img {
        width: 180px;
    }

    .projects img {
        border-bottom: none;
    }

    .contact .content {
        max-width: 70vw;
        width: 100%;
        margin: 0 auto;
    }
    
    .formBox form h3,
    .contactInfo h3 {
        font-size: 16px;
        margin-bottom: 2px;
    }

    .imagensSection {
        display: none;
        visibility: hidden;
    }

    body .iframe {
        max-width: 90%;
        width: 80%;
        top: 5vh;
    }


}