@import url('https://fonts.googleapis.com/css2?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    border: none;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
    /* Para rolar a página quando clico de acordo com o MENU */
    scroll-behavior: smooth;
}

body {
    background: black;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
    padding: 25px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    transition: background 0.5s;
}

header .logo {
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
}

.new-header {
    background: #fff;
    box-shadow: 0 0 10px #999;
}

.new-header .logo,
.new-header ul li a {
    color: #111;
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 22px;
    margin: 0 15px;
    position: relative;
    display: inline-block;
    letter-spacing: 2px;
    transition: transform 0.6s;
}

header ul li a:hover {
    transform: translateY(3px);
    opacity: 0.8;
}

.background-red {
    position: absolute;
    top: 0;
    left: 80px;
    background: red;
    width: 150px;
    height: 80vh;
    z-index: 10;
    box-shadow: -4px 5px 4px 1px #fff;
    transform: skewY(-55deg);
}

section {
    padding: 100px;
}

.banner {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 15;
    transition: 0.5s;
}

.banner h2 {
    font-size: 3em;
    color: #fff;
    font-weight: 500;
    line-height: 1.5em;
}

.banner h2 span {
    font-weight: 700;
    font-size: 80px;
}

.banner h3 {
    font-size: 1.5em;
    color: #fff;
    font-weight: 500;
}

.links-sociais ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 200px;
}

.links-sociais ul li {
    list-style: none;
}

.links-sociais ul li a {
    display: inline-block;
}

.links-sociais ul li img {
    filter: invert(1);
    min-width: 20px;
    height: 40px;
    transition: transform 0.6s;
}   

.links-sociais ul li img:hover {
    transform: translateX(-10px);
}

.efetc {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
}

.efect img {
    max-width: 100%;
    height: 250px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 11;
    animation: animate calc(5s * var(--i)) linear infinite;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: scale(1);
        transform: translateY(40px);
    }

    50%, 75% {
        opacity: 1;
    }
    
    100% {
        transform: scale(1.3);
        transform: translateX(-100%);
    }
}

.about {
    background: #fff;
}

.heading {
    width: 100%;
    text-align: center;
    margin-bottom: 60px;
    color: #111;
}

.heading h2 {
    font-weight: 600;
    font-size: 25px;
    opacity: 0.9;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.content {
    display: flex;
    justify-content: space-between;
}

.contentBx {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding-right: 30px;
}

.contentBx,
.img-about {
    min-width: 50%;
}

.contentBx h3 {
    font-size: 24px;
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
}

.contentBx h3 span {
    color: red;
    font-weight: bold;
}

.contentBx p {
    font-size: 18px;
    line-height: 25px;
    font-weight: 600;
}

.img-about img {
    max-width: 100%;
    box-shadow: -4px -4px 2px #999,
                 4px  4px 2px red;
}

.heading p {
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: 5px;
    opacity: 0.6;
}

.services { 
    background: #111;

}

.heading.services {
    color: #fff;
}

.services .content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    max-width: 950px;
    margin: 0 auto;
}

.services .content .servicesBx {
    background: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 50px 0;
    transition: box-shadow 0.5s;
}

.services .content .servicesBx img {
    width: 80%;
    height: 150px;
    margin-bottom: 5px;
    border-bottom: solid 2px red;
    padding-bottom: 5px;
}

.services .content .servicesBx h2 {
    opacity: 0.9;
    font-size: 16px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.services .content .servicesBx p {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
}

.services .content .servicesBx:hover {
    box-shadow: 2px 2px 2px red;
}

.services .content .servicesBx h2 span {
    color: #2196f3;
}

.projects {
    background: #fff;
}

.projects .content {
    max-width: 950px;
    margin: 0 auto;
    gap: 20px;
}

.projectBx {
    background: black;
    filter: brightness(70%);
    transition: filter 0.6s;
    box-shadow: -4px -4px 2px #999,
                 3px  3px 2px red;
    position: relative;
    height: 300px;
}

.projectBx:hover {
    filter: brightness(100%);
}

.projects img {
    width: 100%;
    height: 70%;
    border-bottom: solid 1px #fff;
}

.projects h4 {
    color: #fff;
    text-align: center;
    margin: 5px 0px;
    text-transform: uppercase;
    font-size: 16px;
}

.menu-project {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 5px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
}

.menu-project span a{
    text-decoration: none;
    color: #fff;
    background: #2196f3;
    padding: 5px 15px;
    cursor: pointer;
    border-radius: 2px;
    font-weight: 600;
    letter-spacing: 2px;
    transition: background 0.6s;
    text-transform: uppercase;
}

.menu-project span a:hover {
    background: #fff;
    color: #111;
}

.menu-project img {
    width: 30px;
    height: 30px;
    filter: invert(1);
    transition: transform 0.6s;
}

.menu-project img:hover {
    transform: translateX(-5px);
}

.contact {
    background: #111;
}

.contact .heading {
    color: #fff;
}

.contact .heading span {
    filter: invert(1);
}

.contact .content {
    padding: 40px;
    background: #fff;
    border-radius: 5px;
}

.formBox {
    min-width: 60%;
}

.formBox form {
    display: flex;
    flex-direction: column;
}

.formBox form h3,
.contactInfo h3 {
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.formBox form input,
.formBox form textarea {
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: none;
    background: #222;
    color: #fff;
    border-radius: 5px;
}

.formBox form textarea {
    min-height: 200px;
    resize: none;
}

.formBox form input::placeholder,
.formBox form textarea::placeholder {
    color: #999;
}

form button {
    padding: 10px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    background: #222;

    color: #fff;
    font-size: 16px;
    cursor: pointer;
    width: 100px;
    transition: background 0.6s;
}

form button:hover {
    background: red;
}

.contactInfo {
    position: relative;
}

.contactInfo .box {
    position: relative;
    padding: 20px 0px;
    display: flex;
}

.contactInfo .box .icon {
    width: 40px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.contactInfo .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    flex-direction: column;
    font-weight: 600;
    margin-left: 20px;
}

.contactInfo .box .text h3 {
    color: red;
}

